%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Check required ERTS or OTP release version
{require_otp_vsn, "R16|17|18"}.

%% Enable validation of the OTP app module list. Default is 'true'
{validate_app_modules, true}.

%% Compiler options
{erl_opts, [{parse_transform, lager_transform}]}.

%% == Dependencies ==
{deps, [%% External - Tools
        {lager, ".*",
         {git, "git://github.com/hibari/lager.git", {branch, "dev"}}},
        {edown, ".*",
         {git, "git://github.com/hibari/edown.git", {branch, "dev"}}},
        {sext, ".*",
         {git, "git://github.com/hibari/sext.git", {branch, "dev"}}},
        {folsom, ".*",
         {git, "git://github.com/hibari/folsom.git", {branch, "dev"}}},
        {asciiedoc, ".*",
         {git, "git://github.com/hibari/asciiedoc.git", {branch, "dev"}}},

        %% Tools
        {gmt_util, ".*",
         {git, "git://github.com/hibari/gmt-util.git", {branch, "dev"}}},
        {cluster_info, ".*",
         {git, "git://github.com/hibari/cluster-info.git", {branch, "dev"}}},
        {congestion_watcher, ".*",
         {git, "git://github.com/hibari/congestion-watcher.git", {branch, "dev"}}},
        {partition_detector, ".*",
         {git, "git://github.com/hibari/partition-detector.git", {branch, "dev"}}},

        %% LevelDB
        {h2leveldb, ".*",
         {git, "git://github.com/leveldb-erlang/h2leveldb.git", {branch, "develop"}}},

        %% Hibari
        {gdss_brick, ".*",
         {git, "git://github.com/hibari/gdss-brick.git", {branch, "gbrick-gh17-redesign-disk-storage"}}},
        {gdss_client, ".*",
         {git, "git://github.com/hibari/gdss-client.git", {branch, "dev"}}},
        {gdss_admin, ".*",
         {git, "git://github.com/hibari/gdss-admin.git", {branch, "gbrick-gh17-redesign-disk-storage"}}},

        %% External -Testing
        {qc, ".*",
         {git, "git://github.com/hibari/qc.git", {branch, "dev"}}}
       ]}.
